In [35]:
import pandas as pd
import numpy as np

In [43]:
sdf = pd.read_csv(r'C:/Users/Penelope/Documents/GitHub/Weplate/backend/backend/algorithm/result/student_profile/nutrient_limit_male.csv')
df = pd.read_csv(r'C:\Users\Penelope\Documents\GitHub\Weplate\backend\backend\algorithm\female_may_lsqp.csv')
df['protein'] = df['protein'].astype(float)
df['carbohydrate'] = df['carbohydrate'].astype(float)
df['calories'] = df['calories'].astype(float)
df['total_fat'] = df['total_fat'].astype(float)
df['saturated_fat'] = df['saturated_fat'].astype(float)

In [44]:
df.drop(index=0, inplace=True)
df = df.reset_index(drop=True)
df.head(3)

,student_id,name,comp_time,combination#,dish_L,dish_s1,dish_s2,vol_L,vol_s1,vol_s2,protein,carbohydrate,calories,total_fat,saturated_fat,cost
0,0,"Breakfast on Sunday, March 06, 2022",0.8,0,1037,1014,1040,610,3,270,23.88,189.67,1034.14,27.89,7.50,393.65
1,0,"Breakfast on Sunday, March 06, 2022",0.8,1,1037,1021,1014,610,225,3,32.63,185.49,1079.79,30.74,7.50,841.64
2,0,"Breakfast on Sunday, March 06, 2022",0.8,2,1037,1014,1056,610,3,110,25.82,178.30,1030.76,32.08,7.96,2435.44

In [45]:
def check_exceed(nutrients, nutrient_lims):
    d = []
    for ind_n, nutrient_lims in enumerate(nutrient_lims):
        if nutrients[ind_n] > nutrient_lims[0] and nutrients[ind_n] < nutrient_lims[1]:
            d.append(0)
        else:
            d.append(1)
    d.append(sum(d))
    return np.array(d)

In [46]:
nutrient_check = np.zeros(6)
for df_index in range(len(df)):
    protein_lim, carbohydrate_lim, calories_lim, total_fat_lim, saturated_fat_lim = sdf.loc[df.loc[df_index, 'student_id'], ['protein_lim', 'carbohydrate_lim','calories_lim','total_fat_lim','saturated_fat_lim']]
    protein, carbohydrate, calories, total_fat, saturated_fat = df.loc[df_index, ['protein', 'carbohydrate', 'calories', 'total_fat', 'saturated_fat']]
    limits = [eval(protein_lim), eval(carbohydrate_lim), eval(calories_lim), eval(total_fat_lim), eval(saturated_fat_lim)]
    nutrients = [protein, carbohydrate, calories, total_fat, saturated_fat]
    exceed = check_exceed(nutrients, limits)
    nutrient_check = np.vstack((nutrient_check, exceed))

In [30]:
edf = pd.DataFrame(nutrient_check, columns=['protein_exceed', 'carbohydrate_exceed', 'calories_exceed', 'total_fat_exceed', 'saturated_fat_exceed', 'num_exceed'])

In [ ]:
print(len(edf))
print(len(df))

In [31]:
edf.drop(index=0, inplace=True)
edf = edf.reset_index(drop=True)

219001
219001

In [34]:
df.head(3)

,student_id,name,comp_time,combination#,dish_L,dish_s1,dish_s2,vol_L,vol_s1,vol_s2,protein,carbohydrate,calories,total_fat,saturated_fat,cost
0,0,0,0.0,0,0,0,0,0,0,0,0.00,0.00,0.00,0.00,0.0,0.00
1,0,"Breakfast on Sunday, March 06, 2022",0.8,0,1037,1014,1040,610,3,270,23.88,189.67,1034.14,27.89,7.5,393.65
2,0,"Breakfast on Sunday, March 06, 2022",0.8,1,1037,1021,1014,610,225,3,32.63,185.49,1079.79,30.74,7.5,841.64

In [32]:
edf.head(3)

,protein_exceed,carbohydrate_exceed,calories_exceed,total_fat_exceed,saturated_fat_exceed,num_exceed
0,1.0,1.0,1.0,1.0,1.0,5.0
1,1.0,1.0,0.0,1.0,0.0,3.0
2,1.0,0.0,0.0,1.0,0.0,2.0

In [33]:
df1 = pd.concat([df, edf],axis=0)
df1.head(5)

,student_id,name,comp_time,combination#,dish_L,dish_s1,dish_s2,vol_L,vol_s1,vol_s2,...,calories,total_fat,saturated_fat,cost,protein_exceed,carbohydrate_exceed,calories_exceed,total_fat_exceed,saturated_fat_exceed,num_exceed
0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,"Breakfast on Sunday, March 06, 2022",0.8,0.0,1037.0,1014.0,1040.0,610.0,3.0,270.0,...,1034.14,27.89,7.50,393.65,NaN,NaN,NaN,NaN,NaN,NaN
2,0.0,"Breakfast on Sunday, March 06, 2022",0.8,1.0,1037.0,1021.0,1014.0,610.0,225.0,3.0,...,1079.79,30.74,7.50,841.64,NaN,NaN,NaN,NaN,NaN,NaN
3,0.0,"Breakfast on Sunday, March 06, 2022",0.8,2.0,1037.0,1014.0,1056.0,610.0,3.0,110.0,...,1030.76,32.08,7.96,2435.44,NaN,NaN,NaN,NaN,NaN,NaN
4,0.0,"Breakfast on Sunday, March 06, 2022",0.8,3.0,1037.0,1014.0,1036.0,610.0,3.0,1.0,...,1145.66,44.89,13.50,13213.54,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df1.to_csv('male_may_lsqp_metric.csv', index=False)